<form ng-submit="about.addFields()" >
	<div ng-show="about.success" class="alert alert-success">
		<button class="close" data-close="alert"></button>
		<span>	Well Done! </span>
	</div>
	<div ng-show="about.failed" class="alert alert-danger">
		<button class="close" data-close="alert"></button>
		<span>  Oh snap! </span>
	</div>
	<div class="form-group" ng-show="about.isEdit() || !about.isFieldNull(about.user.first_name)">
		<label class="control-label">First Name</label>
		<input ng-model="about.newInfo.first_name" id="txtFirstName" type="text" placeholder="{{about.user.first_name}}" class="form-control" ng-disabled="!about.isEdit()"/>
	</div>
	<div class="form-group" ng-show="about.isEdit() || !about.isFieldNull(about.user.last_name)">
		<label class="control-label">Last Name</label>
		<input ng-model="about.newInfo.last_name" id="txtLastName" type="text" placeholder="{{about.user.last_name}}" class="form-control" ng-disabled="!about.isEdit()"/>
	</div>
	<div class="form-group" ng-show="about.isEdit() || !about.isFieldNull(about.user.mobile_number)">
		<label class="control-label">Mobile Number</label>
		<input ng-model="about.newInfo.mobile_number" id="txtMobileNumber" type="text" placeholder="{{about.user.mobile_number}}" class="form-control" ng-disabled="!about.isEdit()"/>
	</div>
	<div class="form-group" ng-show="about.isEdit() || !about.isFieldNull(about.user.email)">
		<label class="control-label">Email address</label>
		<input ng-model="about.newInfo.email" id="txtEmail" type="email" placeholder="{{about.user.email}}" class="form-control" ng-disabled="!about.isEdit()"/>
	</div> 
	<div class="form-group" ng-show="about.isEdit() || !about.isFieldNull(about.user.FGP_fingerprint)">
		<label class="control-label">FGP Key Fingerprint</label>
		<input ng-model="about.newInfo.FGP_fingerprint" id="txtFGP" type="text" placeholder="{{about.user.FGP_fingerprint}}" class="form-control" ng-disabled="!about.isEdit()"/>
	</div>
	<div class="form-group" ng-show="about.isEdit() || !about.isFieldNull(about.user.bitcoin_address)">
		<label class="control-label">Bitcoin Address</label>
		<input ng-model="about.newInfo.bitcoin_address" id="txtBitcoinAddress" type="text" placeholder="{{about.user.bitcoin_address}}" class="form-control" ng-disabled="!about.isEdit()"/>
	</div>
	<div class="form-group" ng-show="about.isEdit() || !about.isFieldNull(about.user.skype_id)">
		<label class="control-label">Skype ID</label>
		<input ng-model="about.newInfo.skype_id" id="txtSkypeId" type="text" placeholder="{{about.user.skype_id}}" class="form-control" ng-disabled="!about.isEdit()"/>
	</div>
	<div class="margiv-top-10">
		<a href ng-show="!about.isEdit()" ng-click="about.setEdit(true)" class="btn green">
		Edit Info </a>
		<button type="submit" ng-show="about.isEdit()" class="btn green">
		Save Changes </button>
		<a href ng-show="about.isEdit()" ng-click="about.setEdit(false)" class="btn default">
		Cancel </a>
	</div>
</form>