<div class="page-header-fixed page-full-width page-boxed">

<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<div class="menu-toggler sidebar-toggler hide">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->

		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<div class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</div>
		<!-- END RESPONSIVE MENU TOGGLER -->

	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>





<!-- BEGIN CONTAINER -->
<div class="page-container profile">
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">

			
			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!--<div class="cover-photo">
						<img ng-src="{{profile.user.profile_picture}}"/>
						<img  src="img/cover-photo.jpg"/>
					</div>-->
					<div id="placeholder">
   						 <img id="target3" class="crop_me" alt="" src="img/cover-photo.jpg" />
   						 <div id="profile-thumb">
        					<div id="profile-mask">
            					<img id="profiler" ng-src="{{profile.user.profile_picture}}" width="160px" height="160px" />
        					</div>
   						 </div>
    					<div id="name-holder">
        					<h2 class="_6_f" style="display:block;">
							<a id="p_name" class="_8_2" href>{{profile.user.name}}
							</a>
							</h2> 
    					</div>
					</div>
				</div>
			</div>
			<!-- END PAGE HEADER-->


			</br>
			</br>
			</br>
			<!-- BEGIN PAGE CONTENT-->
			<div class="row profile">
				<div class="col-md-12">
					<!--BEGIN TABS-->
					<div class="tabbable tabbable-custom tabbable-full-width" style="margin-left:195px;margin-right:195px;">
						
						<ul class="nav nav-tabs">
							<li ng-class="{ active: profile.isSet(0) }">
								<a href ng-click="profile.setTab(0)">Profile </a>
							</li>
							<li ng-class="{ active: profile.isSet(1) }">
								<a id="aboutTab" href ng-click="profile.setTab(1)">About </a>
							</li>
						</ul>
						
						<div class="tab-content">
							
							<div class="tab-pane" ng-class="{active: profile.isSet(0) }" ng-show="profile.isSet(0)" >
								<div class="row">
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-8 profile-info">
												<h1 id="welcomeProfile">{{profile.user.name}}</h1>
											</div>
											<!--end col-md-8-->
										</div>
										<!--end row-->
									</div>
								</div>
							</div>


							<!--tab_1_2-->
							<div class="tab-pane" ng-class="{active: profile.isSet(1) }" ng-show="profile.isSet(1)" >
								<div class="row profile-account">
									<div class="col-md-3">
									</div>
									<div class="col-md-9">
										
										<about-profile></about-profile>
												
									</div>
									<!--end col-md-9-->
								</div>
							</div>
							<!--end tab-pane-->
							
						</div>
					</div>
					<!--END TABS-->
				</div>
			</div>
			
			
			
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 2014 Cambrian
	</div>
	<div class="page-footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>
</div>
<!-- END FOOTER -->
	