<div class="page-header-fixed page-full-width page-boxed">


<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<div class="menu-toggler sidebar-toggler hide">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->

	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>


<!-- BEGIN CONTAINER -->
<div class="container profile">
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">

			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<div id="placeholder">
					
						<div id="cover-picture" style="overflow:hidden;height: 300px;">
							<!--<img alt="" src="img/cover-photo.jpg" style=" width: 100%;" ng-hide="profile.user.panoramic_photo">-->
							<img alt="" ng-src="{{profile.user.panoramic_photo}}" style=" width: 100%;" ng-show="profile.user.panoramic_photo">
						</div>					
						
   						<div id="profile-thumb">
        					<div id="profile-mask">
            					<img id="profiler" ng-src="{{profile.user.profile_picture}}" />
        					</div>
   						</div>
    					<div id="name-holder">
        					<h2 class="_6_f" style="display:block;">
								<a id="p_name" class="_8_2" href>{{profile.user.name}}</a>
							</h2> 
    					</div>
					</div>
				</div>
			</div>
			<!-- END PAGE HEADER-->


			</br>
			</br>
			</br>
			<!-- BEGIN PAGE CONTENT-->
			<div class="row profile">
				<div class="col-md-12">
					<!--BEGIN TABS-->
					<div class="tabbable tabbable-custom tabbable-full-width">
						
						<ul class="nav nav-tabs">
							<li ng-class="{ active: profile.isSet(0) }">
								<a href ng-click="profile.setTab(0)">Profile </a>
							</li>
							<li ng-class="{ active: profile.isSet(1) }">
								<a id="aboutTab" href ng-click="profile.setTab(1)">About </a>
							</li>
						</ul>
						
						<div class="tab-content">
							
							<div class="tab-pane" ng-class="{active: profile.isSet(0) }" ng-show="profile.isSet(0)" >
								<div class="row">
									<div class="col-md-9">
										<div class="row">
											
										</div>
										<!--end row-->
									</div>
								</div>
							</div>


							
							<!--tab_1_2-->
							<div class="tab-pane" ng-class="{active: profile.isSet(1) }" ng-show="profile.isSet(1)" >
								
							<form ng-submit="profile.save($event)">
							
								<div class="form-actions fluid pull-right">
									<button type="submit" ng-show="profile.isEdition()" class="btn green">Save Changes </button>
									<button type="button" ng-show="profile.isEdition()" class="btn default" ng-click="profile.setEdition(false)" >Cancel</button>
									<button type="button" ng-hide="profile.isEdition()" class="btn green" ng-click="profile.setEdition(true)">Edit Info</button>
								</div>
								<div class="clearfix"></div>
								
								<!-- begin profile information -->
								<div class="form-horizontal" ng-hide="profile.isEdition()">
									<div class="form-body">
										<h2 class="margin-bottom-20"> {{profile.user.name}} </h2>
										
										<div class="row">
											
											<div class="col-md-6" ng-show="profile.user.mobile_number">
												<div class="form-group">
													<label class="control-label col-md-4">Mobile Number:</label>
													<div class="col-md-8">
														<p class="form-control-static">{{profile.user.mobile_number}}</p>
													</div>
												</div>
											</div>
											<!--/span-->
											
											<div class="col-md-6" ng-show="profile.user.email">
												<div class="form-group">
													<label class="control-label col-md-4">Email:</label>
													<div class="col-md-8">
														<p class="form-control-static">{{profile.user.email}}</p>
													</div>
												</div>
											</div>
											<!--/span-->
										
											<div class="col-md-6" ng-show="profile.user.FGP_fingerprint">
												<div class="form-group">
													<label class="control-label col-md-4">PGP fingerprint:</label>
													<div class="col-md-8">
														<p class="form-control-static">{{profile.user.FGP_fingerprint}}</p>
													</div>
												</div>
											</div>
											<!--/span-->
											
											<div class="col-md-6" ng-show="profile.user.bitcoin_address">
												<div class="form-group">
													<label class="control-label col-md-4">Bitcoin address:</label>
													<div class="col-md-8">
														<p class="form-control-static">{{profile.user.bitcoin_address}}</p>
													</div>
												</div>
											</div>
											<!--/span-->
											
											<div class="col-md-6" ng-show="profile.user.skype_id">
												<div class="form-group">
													<label class="control-label col-md-4">Skype ID:</label>
													<div class="col-md-8">
														<p class="form-control-static">{{profile.user.skype_id}}</p>
													</div>
												</div>
											</div>
											<!--/span-->
										</div>
										<!--/row-->
										
									</div>	
									
								</div>
								<!-- end profile information -->
								
								
								
								
								<!-- begin profile edition -->
								<div ng-show="profile.isEdition()">
									<div class="row">
										
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label">Email address</label>
												<input ng-model="profile.newInfo.email" id="txtEmail" type="email" placeholder="user@example.com" class="form-control" />
											</div>
											<div class="form-group">
												<label class="control-label">Mobile Number</label>
												<input ng-model="profile.newInfo.mobile_number" id="txtMobileNumber" type="text" placeholder="Mobile number" class="form-control"/>
											</div>
											<div class="form-group">
												<label class="control-label">FGP Key Fingerprint</label>
												<input ng-model="profile.newInfo.FGP_fingerprint" id="txtFGP" type="text" placeholder="(pgp fingergprint)" class="form-control"/>
											</div>
											<div class="form-group">
												<label class="control-label">Bitcoin Address</label>
												<input ng-model="profile.newInfo.bitcoin_address" id="txtBitcoinAddress" type="text" placeholder="(bitcoin address)" class="form-control"/>
											</div>
											<div class="form-group">
												<label class="control-label">Skype ID</label>
												 <input ng-model="profile.newInfo.skype_id" id="txtSkypeId" type="text" placeholder="skype id" class="form-control"/>
											</div>
										</div>
										<!-- col-md-6 -->
										
										<div class="col-md-4">
											<p>Select an image for your profile picture</p>
											<div class="fileinput fileinput-new" data-provides="fileinput">
												<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
													<img ng-src="{{profile.user.profile_picture}}" alt=""/>
												</div>
												<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
												</div>
												<div>
													<span class="btn default btn-file">
														<span class="fileinput-new">Select image</span>
														<span class="fileinput-exists">Change</span>
														<input type="file" name="profilePicture">
													</span>
													<!--
													<a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">Remove</a>
													-->
												</div>
											</div>
											
											<p>Select an image for your panoramic photo</p>
											<div class="fileinput fileinput-new" data-provides="fileinput">
												<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
													<img ng-src="{{profile.user.panoramic_photo}}" alt=""/>
												</div>
												<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
												</div>
												<div>
													<span class="btn default btn-file">
														<span class="fileinput-new">Select image</span>
														<span class="fileinput-exists">Change</span>
														<input type="file" name="panoramicPhoto">
													</span>
													<!--
													<a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">Remove</a>
													-->
												</div>
											</div>
										</div>
										<!-- col-md-6 -->
									</div>
								
									
								</div>
								<!-- end profile edition -->
								
							
							</form>
							</div>
							<!--end tab-pane-->
							
						</div>
					</div>
					<!--END TABS-->
				</div>
			</div>
			
			
			
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 2014 Cambrian
	</div>
	<div class="page-footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>
<!-- END FOOTER -->


</div>
	